<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>PolluxUI Admin</title>
<!-- base:css -->
<link rel="stylesheet"
	href="../admin-static/vendors/typicons/typicons.css">
<link rel="stylesheet"
	href="../admin-static/vendors/css/vendor.bundle.base.css">
<!-- endinject -->
<!-- inject:css -->
<link rel="stylesheet"
	href="../admin-static/css/vertical-layout-light/style.css">
<!-- endinject -->
<link rel="shortcut icon" href="../admin-static/images/favicon.png" />
<link rel="stylesheet"
	href="../admin-static/css/vertical-layout-light/newStyle.css">
<script src="../variable_template/variable_index.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
	<div class="container-scroller">
		<!-- partial:../../partials/_navbar.html -->
		<div
			th:replace="admin-template/partials/_navbar:: navbar_template_admin"></div>
		<!-- partial -->
		<div class="container-fluid page-body-wrapper">
			<!-- partial:../../partials/_settings-panel.html -->
			<div
				th:replace="admin-template/partials/_settings-panel:: settings-panel-template-user"></div>

			<!-- partial -->
			<!-- partial:../../partials/_sidebar.html -->
			<div
				th:replace="admin-template/partials/_sidebar:: sidebar-template-user"></div>
			<!-- partial -->
			<div class="main-panel">
				<div class="content-wrapper">
					<div class="row">
						<div class="col-lg-6 grid-margin stretch-card">
							<div class="card">
								<div class="card-body">
									<h4 class="card-title">Biểu Đồ Tăng Trưởng Doanh Số</h4>
									<canvas id="lineChart"></canvas>
								</div>
							</div>
						</div>
						<div class="col-lg-6 grid-margin stretch-card">
							<div class="card">
								<div class="card-body">
									<h4 class="card-title">Thống Kê Danh Thu 12 Tháng</h4>
									<canvas id="barChart"></canvas>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-6 grid-margin stretch-card">
							<div class="card">
								<div class="card-body">
									<h4 class="card-title">Area chart</h4>
									<canvas id="areaChart"></canvas>
								</div>
							</div>
						</div>
						<div class="col-lg-6 grid-margin stretch-card">
							<div class="card">
								<div class="card-body">
									<h4 class="card-title">Doughnut chart</h4>
									<canvas id="doughnutChart"></canvas>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-6 grid-margin grid-margin-lg-0 stretch-card">
							<div class="card">
								<div class="card-body">
									<h4 class="card-title">Pie chart</h4>
									<canvas id="pieChart"></canvas>
								</div>
							</div>
						</div>
						<div class="col-lg-6 grid-margin grid-margin-lg-0 stretch-card">
							<div class="card">
								<div class="card-body">
									<h4 class="card-title">Scatter chart</h4>
									<canvas id="scatterChart"></canvas>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- content-wrapper ends -->
				<!-- partial:../../partials/_footer.html -->

				<div
					th:replace="admin-template/partials/_footer:: footer_template_admin"></div>
				<!-- partial -->
			</div>
			<!-- main-panel ends -->
		</div>
		<!-- page-body-wrapper ends -->
	</div>
	<!-- container-scroller -->
	<!-- base:js -->
	<script src="../admin-static/vendors/js/vendor.bundle.base.js"></script>
	<!-- endinject -->
	<!-- inject:js -->
	<script src="../admin-static/js/off-canvas.js"></script>
	<script src="../admin-static/js/hoverable-collapse.js"></script>
	<script src="../admin-static/js/template.js"></script>
	<script src="../admin-static/js/settings.js"></script>
	<script src="../admin-static/js/todolist.js"></script>
	<!-- endinject -->
	<!-- plugin js for this page -->
	<script src="../admin-static/vendors/chart.js/Chart.min.js"></script>
	<!-- End plugin js for this page -->
	<!-- Custom js for this page-->
	<script src="../template-js/Statistical/index.js"></script>
	<script src="../variable_template/variable_index.js"></script>

	<!-- End custom js for this page-->
</body>

</html>
