<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>PolluxUI Admin</title>
  <!-- base:css -->
  <link rel="stylesheet" href="../admin-static/vendors/typicons/typicons.css">
  <link rel="stylesheet" href="../admin-static/vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="../admin-static/css/vertical-layout-light/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="../admin-static/images/favicon.png" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
	<div class="container-scroller">
		<div class="container-fluid page-body-wrapper full-page-wrapper">
			<div class="content-wrapper d-flex align-items-center auth px-0">
				<div class="row w-100 mx-0">
					<div class="col-lg-4 mx-auto">
						<div class="auth-form-light text-left py-5 px-4 px-sm-5">
							<div th:if="${#request.getParameter('error') == 'true'}">
								<div class="alert alert-danger">Bạn nhập sai email và mật
									khẩu.</div>
							</div>
							<h4>Chào mừng bạn đến với chúng tôi</h4>
							<h6 class="font-weight-light">Đăng nhập để tiếp tục.</h6>
							<form class="pt-3" name='f'
								th:action="@{/j_spring_security_check}" method='POST'
								role="form">
								<div class="form-group">
									<input class="form-control form-control-lg" id="username"
										type='text' name='username' value=''
										placeholder="Nhập vào username" />
								</div>
								<div class="form-group">
									<input type="password" class="form-control form-control-lg"
										id="password" name='password' placeholder="Nhập vào password" />
								</div>
								<div class="mt-3">
									<button type="submit"
										class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">SIGN
										IN</button>
								</div>
								<div class="my-2 d-flex justify-content-between align-items-center">
									<!-- <div class="form-check">
										<label class="form-check-label text-muted"> <input
											class="form-check-input" type="checkbox" name="remember-me">
											Keep me signed in
										</label>
									</div> -->
									<a th:href="@{/forgot_password}" class="auth-link text-black">Quên Mật Khẩu?</a>
								</div>
							</form>
							<!-- <div class="mb-2">
								<a th:href="@{/oauth2/authorization/facebook}">
									<button type="button" id="btnFacebook"
										class="btn btn-block btn-facebook auth-form-btn">
										<i class="typcn typcn-social-facebook mr-2"></i>Đăng nhập bằng Facebook
									</button>
								</a>
							</div>
							<div class="mb-2">
								<a th:href="@{/oauth2/authorization/google}">
									<button type="button" id="btnGoogle"
										class="btn btn-block btn-google auth-form-btn">
										<i class="typcn typcn-social-google-plus mr-2"></i>Đăng nhập bằng Google
									</button>
								</a>
							</div> -->
<!-- 
							<div class="text-center mt-4 font-weight-light">
								Tài Khoản DEMO :
								<p>USER: dbadmin1</p>
								<p>PASS: 123</p>
							</div> -->
							<div class="text-center mt-4 font-weight-light">
								Bạn chưa có tài khoản? <a th:href="@{/register}"
									class="text-primary">Tạo</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- content-wrapper ends -->
		</div>
		<!-- page-body-wrapper ends -->
	</div>
	<!-- container-scroller -->
	<!-- base:js -->
	<script src="../admin-static/vendors/js/vendor.bundle.base.js"></script>
	<!-- endinject -->
	<!-- inject:js -->
	<script src="../admin-static/js/off-canvas.js"></script>
	<script src="../admin-static/js/hoverable-collapse.js"></script>
	<script src="../admin-static/js/template.js"></script>
	<script src="../admin-static/js/settings.js"></script>
	<script src="../admin-static/js/todolist.js"></script>
	<script src="../variable_template/variable_index.js"></script>
	<!-- endinject -->
</body>

</html>
