<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="footer_template_admin">
		<footer class="footer">
			<div class="card">
				<div class="card-body">
					<div
						class="d-sm-flex justify-content-center justify-content-sm-between">
						<span
							class="text-muted text-center text-sm-left d-block d-sm-inline-block">Xuất bản năm
							© 2020 <a href="https://www.bootstrapdash.com/"
							class="text-muted" target="_blank">Bootstrapdash</a>.
						</span> <span
							class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center text-muted">Free
							<a href="https://www.bootstrapdash.com/" class="text-muted"
							target="_blank">Trang chủ Bootstrap</a> Mẫu Trang
							Bootstrapdash.com
						</span>
					</div>
				</div>
			</div>
		</footer>
	</div>
</body>
</html>